.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
assets/minecraft/textures/block/mossy_cobblestone.png
assets/minecraft/textures/block/oak_log.png
assets/minecraft/textures/block/redstone_lamp.png
assets/minecraft/textures/block/oak_log.png
assets/minecraft/textures/block/jungle_log.png
